{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Panel{% endblock %}

{% block body %}
    {{ parent() }}

    <main class="d-flex min-vh-100">
        {# Credits: https://getbootstrap.com/docs/5.0/examples/sidebars/ #}
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="{{ path('app_panel_home') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">IMShare</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                {% for routeName, displayName in constant('App\\Controller\\PanelController::PANEL_NAVBAR_MENU') %}
                    <li class="nav-item">
                        <a href="{{ path(routeName) }}" class="nav-link {{ app.current_route == routeName ? 'active' : 'text-white' }}">
                            {{ displayName }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="content" class="w-100">
            <div class="container-fluid">
                <h1 class="mt-4">{{ constant('App\\Controller\\PanelController::PANEL_NAVBAR_MENU')[app.current_route] }}</h1>
                <hr>
                <div class="row">

                {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
